
h2 {
    color:indianred;
    text-align:center;
}
#rules {
    color:black;
    max-width:400px;
    text-align:center;
    font-size:30px;
    transform: translate3d(94px, -350px, 0px);
}
#title {
    text-align:center;
    color:black;
}

#gameContainer {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 600px;
    height:600px;
    background-color: black;
    margin:auto;
    gap:2px;
}

.grid {
    min-width:33%;
    min-height:33%;
    background-color: rgb(136, 145, 117);
    color:rgba(245, 245, 245, 0.803);
    font-size:100px;
    font-family:fantasy;
    text-align:center;
    line-height:230px;
    user-select:none;
}
.grid:hover {
    cursor:pointer;
}

#container {
    display:grid;
    grid-template-columns:40vw 60vw;
    column-gap: 8px;
    max-height:97vh;
}

#element1 {
    margin-left:auto;
    margin-right:auto;
    /* min-width:500px; */
    height:300px;
    align-items:center;
    vertical-align: middle;
}
button {
    width:100px;
    height:60px;
    background-color: cadetblue;
    border-style:none;
    font-size:40px;
    color:white;
    border-style:solid;
    border-color:white;
    border-radius:18px;
    margin:auto;
}
button:hover {
    background-color:rgb(124, 208, 211);
    cursor:pointer;
}
#reset {
    font-size:30px;
    margin-left:25%;
}

body {
    max-height:97vh;
}

#chooseToken {
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
}
